* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}


html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
}

#container-modal { 
  background-color: rgb(172, 54, 54);
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

#container-logbook {
  width: 100%;
  overflow: hidden;
  height: 100%;
}
#container-logbook h2 {
  font-family: "Roboto";
  font-size: xx-large;
  color: rgb(0, 37, 57);
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

#logbook {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-y:scroll;
}

#container-modal h1 {
  font-family: "Roboto";
  font-size: x-large;
  color: aliceblue;
  text-align: center;
}

#form-modal { width: 100%;}

input,button {
  width: 100%;
  height: 40px;
}
.logbook-item {
  width: 100%;
  height: 30px;
  background-color: rgb(193, 193, 193);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logbook-item li {
  list-style-type: none;
}
